/* Common styling */

* {
    margin: 0;
    padding: 0;
    font-family: "roboto", "open sans";

    --colour-1st: white;
    --colour-2nd: red;
    --colour-3rd: black;
    --colour-4th: #1F375C; /* Dark blue*/
    --colour-5th: gray;
    --colour-6th: #152640; /* Slightly lighter dark blue */
    
    --desktop-icon-height: 5em;
    --mobile-icon-height: 3em;
    
    --space-x-tiny:   0.25em;
    --space-tiny:     0.5em;
    --space-xx-small: 1em;  
    --space-x-small:  1.5em;
    --space-small:    2em;  
    --space-medium:   3em;
    --space-large:    4em;  
    --space-x-large:  5em;  
    --space-xx-large: 6em;

    --content-margin: 10%;
}

@media (max-width: 1023px) {
    * {
        --content-margin: 5%;
    }
}

/* Apollo page header - Start */
#apollo-header {
    background-image: url("../images/dark-smoke.jpg");
    background-size: 100% 100%;
}

@media (max-width: 1023px) {
    #apollo-header {
        padding-top: var(--space-xx-small);
        padding-bottom: var(--space-x-small);
    }
}

/* Sign in - Start */
#sign-in {
    display: flex;
    flex-direction: row-reverse;
}

#sign-in a {
    margin-right: 12%;
    margin-bottom: var(--space-x-small);
    margin-top: var(--space-x-small);
    color: var(--colour-1st);
    text-transform: uppercase;
    font-size: smaller;
    text-decoration: none;
}

#sign-in a:hover {
    text-decoration: underline;
}

/* Hide sign-in link for mobile / compact view */
@media (max-width: 1023px) {
    #sign-in {
        display: none;
    }
}
/* Sign in - End */

#main-bar {
    display: flex;
    flex-direction: row;
}

/* Apollo bar - Start */
#apollo-bar {
    background-color: var(--colour-2nd);
    height: 50%;
    margin-left: var(--content-margin);
    margin-right: var(--content-margin);
}

#apollo-bar-items {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-left: var(--space-x-tiny);
    background-color: var(--colour-1st);
    white-space: nowrap;
}

/* Hamburger menu - Start */
#apollo-hamburger {
    display: flex;
    padding-left: var(--space-xx-small);
    align-items: center;
}

#apollo-hamburger img {
    max-height: 2em;
}

/* Hide the hamburger menu if we are in desktop mode */
@media (min-width: 1024px) {
    #apollo-hamburger {
        display: none;
    }
}
/* Hamburger menu - End */

/* Site-home - Start */
/* TODO: change position in mobile view */
#site-home {
    display: flex;
    align-items: center;
    background-color: var(--colour-1st);
}

#site-home img {
    max-height: var(--desktop-icon-height);
}

@media (max-width: 1023px) {    
    #site-home {
        flex-grow: 1;
        justify-content: center;
    }

    #site-home img {
        max-height: var(--mobile-icon-height);
    }
}
/* Site-home - End */

/* Nav menu - Start */
#nav-menu {
    display: inline-block;
}

#nav-menu ul {
    display: flex;
    align-items: center;
    height: 100%;
}

/* TODO: add hover effect */
#nav-menu li {
    display: inline-block;
    color: var(--colour-3rd);
    padding: var(--space-tiny);
    font-size: smaller;
    font-weight: bold;
    text-transform: uppercase;
}

#nav-menu a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 1023px) {
    #nav-menu {
        display: none;
    }
}
/* Nav menu - End */

/* My Apollo - Start */
#my-apollo {
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: var(--colour-2nd);
}

#my-apollo img {
    max-height: var(--desktop-icon-height);
}

@media (max-width: 1023px) {
    #my-apollo img {
        max-height: var(--mobile-icon-height);
    }
}
/* My Apollo - End */

/* Apollo-bar - End */

/* Breadcrumbs - Start */
/* 
 * Breadcrumb styling adapted from
 * https://www.w3schools.com/howto/howto_css_breadcrumbs.asp
 */
/* Style the list */
ul.breadcrumb {
    margin-left: var(--content-margin);
    padding-right: var(--space-x-tiny);
    padding-top: var(--space-xx-small);
    padding-bottom: var(--space-xx-small);
    list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: small;
    font-weight: lighter;
    text-transform: uppercase;
    color: var(--colour-1st);
}

/* Add a slash symbol (/) between each list item */
ul.breadcrumb li+li:before {
    padding: var(--space-x-tiny);
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    text-decoration: underline;
} 

/* Hide breadcrumbs when in mobile / compact view */
@media (max-width: 1023px) {
    .breadcrumb {
        display: none;
    }
}
/* Breadcrumbs - End */
/* Apollo page header - End */


/* Main Content - Start */
#main-content {
    margin-top: var(--space-large);
    margin-bottom: var(--space-xx-large);
    margin-left: var(--content-margin);
    margin-right: var(--content-margin);
}

#main-content h1 {
    font-size: 5vw;
    font-size: 3em;
    padding-bottom: var(--space-xx-small);
}

#main-content p {
    font-size: 1.25em;
    padding-bottom: var(--space-x-small);
}

.card-stack {
    display: flex;
    flex-direction: column;
}

.subject-card+.subject-card {
    margin-top: var(--space-xx-small);
}

.subject-card {
    display: flex;
    flex-direction: row;
    padding: var(--space-xx-small);
}

.subject-card h2 {
    padding-bottom: var(--space-xx-small);
}

.subject-card img {
    display: flex;
    max-height: 10em;
    box-shadow: 5px 10px 18px #888888;
}

.subject-card img:hover {
    transform: scale(1.1);
}

.subject-card section {
    margin-left: var(--space-small);
    padding-bottom: var(--space-small);
}

@media (max-width: 1023px) {
    #main-content h1 {
        font-size: 5vw;
        padding-bottom: var(--space-xx-small);
    }

    .subject-card {
        flex-direction: column;
    }

    .subject-card a {
        flex: 100%;
    }
    
    .subject-card img {
        max-width: 100%;
        max-height: none;
        height: auto;
        box-shadow: 5px 10px 18px #888888;
        margin-bottom: var(--space-small);
    }
    
    .subject-card img:hover {
        transform: none;
    }
    
    .subject-card section {
        margin-left: 0px;
    }
}
/* Main Content - End */


/* Apollo page footer - Start */
/* Footer-Company - Start */
#footer-company {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: var(--space-large);
    padding-left: var(--content-margin);
    padding-right: var(--content-margin);
    padding-bottom: var(--space-x-large);
    background-image: linear-gradient(var(--colour-4th), var(--colour-6th));
    color: var(--colour-1st);
    border-top: 4px solid var(--colour-2nd);
    white-space: nowrap;
}

#footer-company section {
    flex: 15%;
}

#footer-company section+section {
    padding-left: var(--space-small);
}

#footer-company h2 {
    padding-bottom: var(--space-xx-small);
}

#footer-company ul {
    list-style: none;
}

#footer-company li+li {    
    padding-top: var(--space-tiny);
}

#footer-company a {
    color: inherit;
    text-decoration: none;
}

/* Newsletter - Start */
#newsletter p {
    white-space: nowrap;
}

#newsletter input {
    padding: 4px;
}

#newsletter input[type=submit] {    
    border: 2px solid #55657F;
    color: #55657F;
    font-weight: bold;
    background: none;
    box-shadow: none;
    border-radius: 8px;
}

#newsletter input[type=submit]:hover {
    border: 2px solid var(--colour-1st);
    color: var(--colour-1st);    
}

#connect-icon-bar {
    display: flex;
    flex-direction: row;
}

#connect-icon-bar a+a {
    padding-left: var(--space-xx-small);
}

#connect-icon-bar img {
    max-height: 1.5em;
}

@media (max-width: 1023px) {
    #footer-company {
        flex-wrap: wrap;
    }

    #footer-company section+section {
        padding-left: 0;
    }
    
    #footer-company #quick-links {
        flex: 40%;
    }
    
    #footer-company #legal {
        flex: 40%;
        white-space: initial;
    }
    
    #footer-company #newsletter {
        flex: 100%;
        margin-top: var(--space-x-small);
    }
    
    #footer-company #connect {
        flex: 100%;
        margin-top: var(--space-x-small);
    }
    
    #connect h2 {
        display: none;
    }
}
/* Footer-Company - End */

/* affiliations - Start */
#affiliations {
    display: flex;
    flex-direction: row;
    margin-left: var(--content-margin);
    margin-right: var(--content-margin);
    padding-top: var(--space-small);
    padding-bottom: var(--space-small);
}

#affiliations div {
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: center;
}

#affiliations img {
    max-width: 50%;
}

@media (max-width: 1023px) {
    #affiliations {
        flex-direction: column;
    }
    
    #affiliations div {
        display: flex;
        flex: 50%;
        text-align: center;
    }
}
/* affiliations - End */

/* Company Details - Start */
#company-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: var(--colour-5th);
    font-size: smaller;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid var(--colour-5th);
    margin-left: var(content-margin);
    margin-right: var(content-margin);
    padding-top: var(--space-medium);
    padding-bottom: var(--space-medium);
}

#company-details div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#company-details p {
    display: inline;
}

#company-details p+p {
    padding-left: var(--space-tiny);
}

#company-details a {
    color: var(--colour-4th);
    font-weight: bold;
    text-decoration: none;
}

#company-details a:hover {
    text-decoration: underline;
}
/* Company Details - End */
/* Apollo page footer - End */
