/* Common styling */

* {
    margin: 0;
    padding: 0;
    font-family: "roboto", "open sans";

    --colour-1st: white;
    --colour-2nd: red;
    --colour-3rd: black;
    --colour-4th: #1F375C; /* Dark blue*/
    --colour-5th: gray;
    --colour-6th: #152640; /* Slightly lighter dark blue */
}

/* Apollo page header - Start */
#apollo-header {
    background-image: url("../images/dark-smoke.jpg");
    background-size: 100% 100%;
}

@media (max-width: 1023px) {
    #apollo-header {
        padding-top: 16px;
        padding-bottom: 20px;
    }
}

/* Sign in - Start */
#sign-in {
    display: flex;
    flex-direction: row-reverse;
}

#sign-in a {
    margin-right: 12%;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--colour-1st);
    text-transform: uppercase;
    font-size: smaller;
    text-decoration: none;
}

#sign-in a:hover {
    text-decoration: underline;
}

/* Hide sign-in link for mobile / compact view */
@media (max-width: 1023px) {
    #sign-in {
        display: none;
    }
}
/* Sign in - End */

#main-bar {
    display: flex;
    flex-direction: row;
}

/* Apollo bar - Start */
#apollo-bar {
    background-color: var(--colour-2nd);
    height: 50%;
    margin-left: 10%;
    margin-right: 10%;
}

#apollo-bar-items {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-left: 4px;
    background-color: var(--colour-1st);    
}

/* Hamburger menu - Start */
#apollo-hamburger {
    display: inline;
}

#apollo-hamburger img {
    max-height: 2em;
}

/* Hide the hamburger menu if we are in desktop mode */
@media (min-width: 1024px) {
    #apollo-hamburger {
        display: none;
    }
}
/* Hamburger menu - End */

/* Site-home - Start */
/* TODO: change position in mobile view */
#site-home {
    display: flex;
    align-items: center;
    background-color: var(--colour-1st);
}

#site-home img {
    max-height: 3em;
}
/* Site-home - End */

/* Nav menu - Start */
#nav-menu {
    display: inline-block;
}

#nav-menu ul {
    display: flex;
    align-items: center;
    height: 100%;
}

/* TODO: add hover effect */
#nav-menu li {
    display: inline-block;
    color: var(--colour-3rd);
    padding: 12px;
    font-size: smaller;
    font-weight: bold;
    text-transform: uppercase;
}

#nav-menu a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 1023px) {
    #nav-menu {
        display: none;
    }
}
/* Nav menu - End */

/* My Apollo - Start */
#my-apollo {
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: var(--colour-2nd);
}

#my-apollo img {
    max-height: 3em;
}
/* My Apollo - End */

/* Apollo-bar - End */

/* Breadcrumbs - Start */
/* 
 * Breadcrumb styling adapted from
 * https://www.w3schools.com/howto/howto_css_breadcrumbs.asp
 */
/* Style the list */
ul.breadcrumb {
    margin-left: 10%;
    padding-right: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: small;
    font-weight: lighter;
    text-transform: uppercase;
    color: var(--colour-1st);
}

/* Add a slash symbol (/) between each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    text-decoration: underline;
} 

/* Hide breadcrumbs when in mobile / compact view */
@media (max-width: 1023px) {
    .breadcrumb {
        display: none;
    }
}
/* Breadcrumbs - End */
/* Apollo page header - End */


/* Main Content - Start */
#main-content {
    margin-top: 40px;
    margin-left: 20px;
}

/* Main Content - End */


/* Apollo page footer - Start */
/* Footer-Company - Start */
#footer-company {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 56px;
    background-image: linear-gradient(var(--colour-4th), var(--colour-6th));
    color: var(--colour-1st);
    border-top: 4px solid var(--colour-2nd);
    white-space: nowrap;
}

#footer-company section+section {
    padding-left: 16px;
}

#footer-company h2 {
    padding-bottom: 16px;
}

#footer-company ul {
    list-style: none;
}

#footer-company li+li {
    padding-top: 4px;
}

#footer-company a {
    color: inherit;
    text-decoration: none;
}

/* Newsletter - Start */
#newsletter p {
    white-space: nowrap;
}

#newsletter input {
    padding: 4px;
}

#newsletter input[type=submit] {
    border: 2px solid #55657F;
    color: #55657F;
    font-weight: bold;
    background: none;
    box-shadow: none;
    border-radius: 8px;
}

#newsletter input[type=submit]:hover {
    border: 2px solid var(--colour-1st);
    color: var(--colour-1st);    
}

#connect-icon-bar {
    display: flex;
    flex-direction: row;
}

#connect-icon-bar img {
    max-height: 1.5em;
}
/* Footer-Company - End */

/* affiliations - Start */
#affiliations {
    display: flex;
    flex-direction: row;
    padding-top: 32px;
    padding-bottom: 32px;
}

#affiliations section {
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: center;
}

#affiliations img {
    max-width: 50%;
}

@media (max-width: 1023px) {
    #affiliations {
        flex-direction: column;
    }
    
    #affiliations section {
        display: flex;
        flex: 50%;
        text-align: center;
    }
}
/* affiliations - End */

/* Company Details - Start */
#company-details {
    color: var(--colour-5th);
    font-size: smaller;
    width: 100%;
    text-align: center;
    border-top: 0.5px solid var(--colour-5th);
    padding-top: 32px;
    padding-bottom: 32px;
}

#company-details div {
    display: inline-block;
}

#company-details p {
    display: inline;
}

#company-details p+p {
    padding:8px;
}

#company-details a {
    color: var(--colour-4th);
    font-weight: bold;
    text-decoration: none;
}

#company-details a:hover {
    text-decoration: underline;
}
/* Company Details - End */
/* Apollo page footer - End */
